<div id="new-message-form">
  <%= form_for [conversation, conversation.messages.new], remote: true, :authenticity_token => true, html: {class: "new-message-form"} do |f| %>
    <div class="small-11 columns message-form-div">
     <%= f.text_area :body, class: "form-control", placeholder: "Type message" %>
    </div>
    <div class="small-1 columns attach-file-icon">
      <span class="postfix">
        <i class="fa fa-paperclip fa-2x" title="Attach file" aria-hidden="true"></i>
      </span>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <%= f.file_field :image, hidden: true%>
    <span class="send-hint">
      Hit "Enter" to send
    </span>
    <span class="send-hint" id="uploaded-file-name">
    </span>
  <% end %>
</div>

<script type="text/javascript">
  $('#new-message-form textarea').keypress(function(e){
    if(e.which == 13 && !e.shiftKey){
      $(this).closest('form').submit();
    }
  });

  $("#message_image").change(function(){
    $("#uploaded-file-name").text($(this).val().replace(/^.*[\\\/]/, ''));
  });

  $(".attach-file-icon").click(function() {
    $("#message_image").click();
  });
</script>