
<div id="registerModal" class="modal fade register-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title sign_up_show">Join WeServe Today!</h2>
        <h2 class="modal-title sign_in_show">Sign In</h2>
      </div>

      <div class="modal-body">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <%= render "modal/social_register" %>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row row-custom sign_up_show" id="sign_up_show">
              <%= react_component 'SignUpModal', {authenticity_token: form_authenticity_token}%>
            </div>
            <div class="row row-custom sign_in_show" id="sign_in_show">
              <%= react_component 'SignInModal', {authenticity_token: form_authenticity_token}%>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row sign_up_show">
            <div class="terms-intro pt30">
              <p>By clicking Sign Up or Sign in, you agree to our <a href="/pages/terms_of_use"> Terms of Use </a> and <a href="/pages/privacy_policy">Privacy Policy</a>.</p>
            </div>
            <div class="signin-intro">
              <p>Already have an account? <a href="javascript:void(0)" id="sign_in_a">Sign In</a></p>
            </div>
          </div>
          <div class="row sign_in_show">
            <div class="signin-intro pt30">
              <p>Don't have an account? <a href="javascript:void(0)" id="sign_up_a">Sign Up</a></p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
