<div class="social-register">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="social-link facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <%= link_to 'Sign Up with Facebook', user_facebook_omniauth_authorize_path %>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="social-link twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <%= link_to 'Sign Up with Twitter',  user_twitter_omniauth_authorize_path %>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="social-link google">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
        <%= link_to 'Sign Up with Google +',  user_google_oauth2_omniauth_authorize_path %>
      </div>
    </div>
  </div>
</div>
