<% content_for :title do %>
  Sign Up For WeServe
<% end %>

<div class="register-form-wrapper">
  <div class="register-modal mt80">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">Sign Up</h3>
          <h4 class="modal-title">Join In WeServe today!</h4>
        </div>

        <div class="modal-body">
          <%= render "modal/social_register" %>

          <div class="or-container">
            <hr class="or-hr">
            <div id="or">or</div>
          </div>

          <div id="">
            <%= react_component 'SignUpModal', {authenticity_token: form_authenticity_token}%>

            <div class="terms-intro pt20">
              <p>By clicking Sign Up or Sign in, you agree to our <a href="/pages/term_of_use""> Terms of Use </a> and <a href="/pages/privacy_policy">Privacy Policy</a>.</p>
            </div>
            <div class="signin-intro">
              <p>Already have an account? <%= link_to 'Sign In', new_user_session_path %></p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
