// header utilize styles goes here

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

@import 'variables';

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}

.mt80 {
  margin-top: 80px !important;
}
.mt100 {
  margin-top: 100px !important;
}

.pr10 {
  padding-right: 10px;
}
.pl10 {
  padding-left: 10px !important;
}
.pb10 {
  padding-bottom: 10px;
}

.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}

.padding-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.margin-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.border-right {
  border-right: 1px solid $grey-clr;
}
.border-top {
  border-top: 1px solid #ddd;
}

.text-blue {
  color: $alt-clr !important;
  font-weight: bold;
}
.text-white {
  color: #fff !important;
}

.border-right-none {
  border-right: none !important;
}

h2:before {
  border: none;
}

.slimScrollBar {
  height: 100px !important;
  width: 5px !important;
  background-color: rgba(145, 145, 145, 0.5) !important;
}

.row {
  max-width: none !important;
}

.normal-button {
  height: 40px;
  background-color: #fff !important;
  font-weight: 600 !important;
  border-radius: 40px !important;
  border: 2px solid #000 !important;
  font-family: 'Roboto';
  color: #000 !important;
  text-transform: uppercase;

  &:hover {
    color: #000 !important;
  }
}

.col-custom {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.row-custom {
  margin: 0 !important;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.suspend {
  color: $grey-clr;
}


h2:before {
  border-top: none !important;
}

.form-group {
  width: 100%;
}
