
@import 'variables';

.search-project-box {
  position: relative;
  display: inline-block;
  width: 300px;

  input[type="text"] {
    height: 34px;
    width: 100%;
    font-size: 12px;
    border-radius: 17px;
    padding: 5px 30px 5px 15px;

    &:focus {
      border-color: $alt-clr;
    }
  }

  button {
    position: absolute;
    background-color: transparent;
    padding: 5px 10px;
    display: block;
    display: block;
    top: 2px;
    color: #555;
    right: 5px;
    padding-right: 5px;
  }
}


.row {
  max-width: 100%;
  width: 100%;
}

.project-wrapper {
  max-width: 1024px;
  padding: 20px;
  display: block;
  margin: auto;
  position: relative;
}

.heading-banner {
  display: block;
  width: 100%;
  text-align: left;
}

.project-header {
  text-align: left;
  display: inline-block;

  h2 {
    font-family: 'Roboto';
    color: #000;
  }
}

.search-box-wrapper {
  padding-top: 20px;
}


.projects-cards {
  padding-top: 40px;
}

div.progress {
  height: 7px;
  margin-bottom: 0;
  border: none;
  padding: 0;
}

.report-banner-table {
  table {
    width: 100%;
  }

  tbody {
    tr td {
      padding: 0 !important;
      font-size: 13px !important;
      text-align: left;
      line-height: 1em !important;
    }
    tr.value {
      td {
        font-family: 'Libre Franklin';
        color: #555 !important;
        font-weight: bold;
      }
    }
    tr.items {
      td {
        font-family: 'Libre Franklin';
        color: $grey-clr !important;
        text-align: left;
      }
    }
  }
}

.report-banner {
  padding: 0 20px;

  text-align: left;

  .row {
    font-size: 12px;
    color: #666;
    margin: 0 !important;
  }

  span.pull-right {
    color: #555;
    font-weight: bold;
  }
}

.team-member-wrapper {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);
  background-color: #fff;

  .member-picture {
    height: 20px;

    img {
      position: relative;
      bottom: 38px;
      width: 60px;
      height: auto;
      border-radius: 50%;
    }
  }

  .name {
    padding-top: 10px;
    padding-bottom: 5px;

    a {
      color: #111;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .role {
    p {
      font-size: 12px;
      font-style: italic;
      color: #666;
      text-align: center;
      margin-bottom: 0;
    }

    a {
      font-size: 12px;
    }
  }

  p.bio {
    font-size: 13px;
    color: #555;
    padding-top: 15px;

    a {
      font-size: 12px;
    }
  }

  ul.social-net-links {
    display: inline-block;
    li {
      margin: auto;
      padding: 0px 8px;
    }
  }
}

#Team {
  padding: 20px;
  padding-top: 50px;
  background-color: #fff;
  max-width: 1200px;
}

.main-wrapper {
  background-color: #fff;
}

.member-box {
  padding: 10px;
  position: relative;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  min-height: 250px;

  .member-img {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    padding-bottom: 20px;
  }

  button.delete-member {
    padding: 0;
    background: transparent;
    font-size: 22px;
    position: absolute;
    top: 0px;
    right: 7px;
    cursor: pointer;
    color: #555;

    &:hover {
      color: #333;
    }
  }

  .member-name {
    h5 {
      padding-top: 10px;
      font-family: 'Roboto';
      font-size: 1.3em;
      color: #000;
    }

    a {
      color: #333;
      font-weight: 600;
    }
  }

  .member-role {
    h5 {
      margin: 0;
    }
    span.role {
      font-family: 'Libre Franklin';
      color: #888;
      font-size: 1em;
      text-transform: uppercase;
    }

    i {
      color: #ddd;
      font-size: 1em;
    }
  }

  p.member-bio {
    padding: 20px 10px 10px 10px;
    font-size: 1em;
    color: #555;

    a {
      padding-left: 3px;
      font-size: 1em;
      color: #555;
    }
  }

  .soical-links-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    ul {
      display: inline-block;
      margin: auto;
      li {
        margin: 0;
        padding: 0px 5px;

        i {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          color: #555;
          background-color: #fff;
          border: 2px solid #888;
          border-radius: 50%;
          padding: 0;
          font-size: 1.2em;
          text-align: center;
        }
      }
    }
  }

}



.project-card {
  border: 2px solid #eee;
  background-color: #fff;

  .card-img {
    border-bottom: 1px solid #ddd;
    position: relative;

    img {
      height: 180px;
      width: 100%;
      margin: auto;
    }

    .user-link {
      position: absolute;
      display: inline-block;
      left: 10px;
      bottom: 10px;

      a {
        font-family: 'Libre Franklin';
        font-size: 1em;
        font-weight: 600;
        color: #fff;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        border: 2px solid #fff;
      }
    }

    .favor-link {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5em;
      font-weight: bold;
      color: #fff;
    }
  }

  .title-banner {
    padding: 10px;
    text-align: left;

    a {
      font-family: 'Libre Franklin';
      font-weight: 600;
      color: #000;
      font-size: 1.3em;
    }
  }

  ul.info-banner {
    padding: 0px 10px 0px;
    margin: 0;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    width: 100%;

    li {
      float: left;
      text-align: left;
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 1.4em;
      color: #999;

      i {
        color: #aaa;
        padding: 0px !important;
        font-size: 16px !important;
        margin-right: 8px;
      }
    }
  }

  .summary-banner {
    padding: 10px 10px 0px;
    p {
      font-family: 'Libre Franklin';
      font-weight: normal;
      font-size: 1em;
      color: #555;
    }
  }

  .progress-banner {
    padding: 0 10px;

    .progress {
      background-color: #ddd !important;
      .progress-bar {
        background-color: #555;
      }
    }
  }

  .progress-report {
    padding-right: 10px;
    padding-left: 10px;

    table {
      width: 100%;
    }

    tbody {
      tr td {
        padding: 0 !important;
        font-family: 'Libre Franklin';
        text-align: left;
        line-height: 1.3em !important;
      }
      tr.value {
        td {
          font-family: 'Libre Franklin';
          color: #333 !important;
          font-size: 1.3em !important;
        }
      }
      tr.items {
        td {
          font-family: 'Libre Franklin';
          color: $grey-clr !important;
          font-size: 0.9em !important;
          text-align: left;
        }
      }
    }
  }
}

.load-more {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  width: 100%;
  text-align: center;

  button {
    display: inline-block;
    padding: 0 40px;
    margin: auto;
    height: 40px;
    line-height: 40px;
    border: 2px solid #000;
    border-radius: 100px;
    font-family: 'Libre Franklin';
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
  }
}


// source editor styles goes here

.edit-wrapper {
  display: block;
  position: relative;
  width: 100%;
  display: none;

  .editor-banner {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 6%;
    border-bottom: 2px solid #eee;

    table {
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
      vertical-align: middle;

      tbody, tr {
        display: block;
        width: 100%;
      }

      td {
        padding: 0 0 0 10px !important;
        margin: 0;
        height: 45px;
        line-height: 45px;
        border-left: 2px solid #eee;
        vertical-align: middle;
        min-width: 45px;
        text-align: center;

        a {
          color: #555;
          font-size: 1.2em;
          margin-right: 10px;

          span {
            font-family: 'Roboto';
            font-size: 0.8em;
            font-weight: 600;
          }
        }

        &.pull-right {
          position: relative;
          top: -47px;
          border-right: 2px solid #eee;
          height: 100%;

          span {
            color: #000;
          }
        }
      }
    }

    .paragraph-dropdown {
      ul.dropdown-menu {
        padding: 0;
      }

      li {
        display: block;
        border-radius: 0px;
        background-color: #fff;
        width: 100%;

        a {
          height: 30px;
          line-height: 30px;
          font-family: 'Roboto';
          color: #333;
          font-size: 1em;
          margin: 0;
        }
      }
    }
  }

  .edit-content-wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 6%;
    font-family: 'Roboto';
    background-color: #fff;

    h1 {
      color:  #000;
    }
    p {
      font-family: 'Libre Franklin';
      font-size: 1em;
      color:  #555;
      line-height: 1.5em;
    }
  }
}
