
@import 'variables';

.welcome-banner {
  text-align: center;
  height: 440px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    width: 100%;
    height: 440px;
  }
}

.mid-section {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  top: 0;
  padding: 50px 0px 50px 0px;

  .project-owner {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding-top: 20px;
  }

  .project-title {
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
  }

  .project-city {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: #fff;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #ddd;
  }

  .progress {
    background-color: #aaa !important;
    .progress-bar {
      background-color: #fff;
    }
  }

  .get-invo-btn {
    font-family: 'Roboto';
    font-size: 1.2em;
    color: #000 !important;
    background-color: #fff;
    border: 2px solid #000;
    text-transform: uppercase;
    padding: 8px 30px;

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: #fff;
    }
  }
}

.project-intro {
    margin: 0;
    list-style-type: none;
    position: relative;

    span.sponsor,
    span.location {
      position: absolute;
    }

    h2 {
      color: #fff;
      font-weight: 600;
    }

    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
      padding-top: 10px;

      &:first-child {
        margin-right: -20px;
      }
      &:last-child {
        margin-left: -20px;
      }
    }
}


.task-progress-wrapper {
  width: 35%;
  display: inline-block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  .progress {
    background-color: #000;
  }

  table {
    display: inline;
    width: auto;
    text-align: center;
  }

  tbody {
    margin: auto;
    tr td {
      padding: 0px 5px !important;
      text-align: left;
      line-height: 1.5em !important;
    }
    tr.value {
      td {
        font-family: 'Libre Franklin';
        color: #fff !important;
        font-weight: normal;
        font-size: 1.4em !important;
      }
    }
    tr.items {
      td {
        font-family: 'Libre Franklin';
        color: #fff !important;
        text-align: left;
        font-size: 1em;
      }
    }
  }
}

.project-detail-wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project-tab-wrapper {

  .tabs-menu {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #ddd;
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
  }

  ul.nav {
    margin: 0;
    width: 100%;
    text-align: left;
    display: block;
    position: relative;

    li {
      padding: 10px 20px 0px;

      &:hover {
        a {
          background-color: transparent;
        }
      }

      a {
        font-family: 'Roboto';
        font-size: 1.5em;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        padding: 0;
        padding-bottom: 10px;
        position: relative;

        &:focus,
        &.active {
          border-bottom: 4px solid #000;
          background-color: transparent;
        }

        span.count {
          font-family: 'Libre Franklin';
          font-size: 0.8em;
          font-weight: 300;
          color: #777;
          position: relative;
          top: -7px;
        }
      }
    }

    a.btn-invite {
      position: absolute;
      right: 0;
      font-family: 'Roboto';
      color: #000;
      text-transform: uppercase;
      margin-top: 5px;
    }
  }

  div.btn-wrapper {
    display: inline-block;
    padding: 0px 5px;
    margin-top: 5px;

    a.btn-share {
      display: inline-block;
      background-color: #fff;
      text-align: center;
      text-decoration: none;
      height: 30px;
      line-height: 30px;
      width: 110px;
      padding: 0 5px;

      font-family: 'Roboto';
      font-weight: normal;
      font-size: 1em;
      color: #777;
      border: 1px solid #ddd;

      i {
        padding: 0;
        font-size: 1.2em;
        padding-right: 8px;
        color: #666;
      }
    }
    .btn-edit {
      display: inline-block;
      background-color: #fff;
      text-align: center;
      text-decoration: none;
      height: 35px;
      line-height: 35px;
      padding: 0 10px;

      font-family: 'Roboto';
      font-weight: normal;
      font-size: 1em;
      color: #000;
      border: 2px solid #000;
      text-transform: uppercase;
      letter-spacing: 1px;

      i {
        padding: 0;
        font-size: 1.2em;
        padding-right: 5px;
        color: #000;
      }
    }

    .btn-visual {
      display: inline-block;
      background-color: #fff;
      text-align: center;
      text-decoration: none;
      height: 35px;
      line-height: 35px;
      padding: 0 10px;

      font-family: 'Roboto';
      font-weight: normal;
      font-size: 1em;
      color: #000;
      border: 2px solid #000;
      text-transform: uppercase;

      i {
        padding: 0;
        font-size: 1.2em;
        padding-right: 5px;
        color: #000;
      }
    }

    a, i.fa-star {
      color: #ddd;
    }

    a:hover {
      text-decoration: none;
    }

    &.plan-hide {
      display: none;
    }
  }
}

.tabs-wrapper {
  border-top: none;
  background-color: #fff;
  padding-left: 6%;
  padding-right: 6%;

  .tabcontent {
    display: none;
  }
}

.social-sharelinks {
  i {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    color: #FFF;
    background: #3A589E none repeat scroll 0% 0%;
    text-align: center;
    padding: 0px;
    border-radius: 50%;

    &.fa-twitter {
      background-color: #0CAEEF;
    }
    &.fa-google-plus {
      background-color: #027CBB;
    }
  }
}

.content-details {
  position: relative;
  padding: 20px;
}

.project-summary {
  p {
    font-family: 'Libre Franklin';
    font-size: 1em;
    color: #555;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5em;
  }
}

.project-video {
  video {
    width: 100%;
    background-color: #555;
  }
}

.tasks-summary {

}

.summary-header {
  strong {
    font-family: 'Libre Franklin';
    font-size: 1.1em;
    color: #000;
  }

  a {
    font-family: 'Libre Franklin';
    font-size: 0.9em;
    color: #aaa;
  }
}

.summary-cards {
  padding: 15px 10px;
  clear: both;
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;

  .card-title {
    p {
      font-family: 'Roboto';
      font-size: 1.3em;
      color: #000;
      line-height: 1.5em;
      margin-bottom: 10px;
    }
  }

  .progress {
    background-color: #ddd;
    .progress-bar {
      background-color: #555;
    }
  }

  .fund-do-btns {
    text-align: right;

    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      max-width: 100px;
      height: 30px;
      line-height: 30px;
      margin-bottom: 5px;
      text-decoration: none;
      padding: 0;
      border: 2px solid #000;
      border-radius: 40px;

      font-family: 'Libre Franklin';
      font-weight: 600;
      font-size: 0.8em;
    }
    a[title="FUND"] {
      background-color: #fff;
      color: #000;
    }
    a[title="DO"] {
      background-color: #000;
      color: #fff;
    }

    a:hover,
    a:focus {
      text-decoration: none;
    }

  }
}


.trello-board {
  background-color: #fff;
  padding: 10px 5px;

  .trello-column {
    display: inline-block;
    width: 19%;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: text-top;
  }
}

.trello-section {
  background-color: #eee;
  border-radius: 3px;

  .section-header {
    padding: 15px 15px 5px;
    text-align: center;

    a {
      font-family: 'Roboto';
      font-size: 1.1em;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .section-content {
    padding: 5px;
    padding-top: 0px;

    .report-banner {
      .row {
        font-size: 11px;
      }
    }

    .fund-do-btns {
      text-align: center;

      a.modal-link {
        display: inline-block;
        text-align: center;
        width: 48%;
        max-width: 100px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 5px;
        text-decoration: none;
        padding: 0;
        border: 2px solid #000;
        border-radius: 40px;

        font-family: 'Libre Franklin';
        font-weight: 600;
        font-size: 0.8em;
      }
      a[title="FUND"] {
        background-color: #fff;
        color: #000;
      }
      a[title="DO"] {
        background-color: #000;
        color: #fff;
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }

    }

  }

  .summary-cards {
    background-color: #fff;
  }
}

.section-add-task {
  padding: 10px;
  cursor: pointer;

  a {
    font-family: 'Libre Franklin';
    font-size: 1.1em;
    color: #777;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  i {
    color: #555;
  }

  &:hover {
    background-color: #ddd;
    a {
      color: #555;
    }
  }
}

.tab-task-report {
  tbody {
    tr.value {
      td {
        font-family: 'Libre Franklin';
        color: #111 !important;
        font-size: 1.5em !important;
        font-weight: normal;
      }
    }
  }
}

.trello-cards {
  padding: 15px 10px 0px;
  clear: both;
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;

  .card-title {
    h5 {
      font-family: 'Roboto';
      font-size: 1.2em;
      font-weight: 600;
      color: #000;
      margin-top: 0;
    }

    p {
      font-family: 'Libre Franklin';
      font-size: 1em;
      color: #777;
      line-height: 1.5em;
      margin-bottom: 10px;
    }
  }

  .comment-wrapper {
    span {
      font-family: 'Libre Franklin';
      font-size: 1.1em;
      color: #aaa;
      padding-right: 10px;
      cursor: pointer;
    }

    i {
      font-size: 1.1em;
      color: #aaa;
      font-weight: 400;
    }
  }

  .progress {
    margin: 15px 0px;
  }

  .card-report {
    table {
      width: 100%;
    }

    tbody {
      tr td {
        padding: 0 !important;
        text-align: left;
        line-height: 1em !important;
      }
      tr.value {
        td {
          font-family: 'Libre Franklin';
          color: #333 !important;
          font-size: 0.9em !important;
          font-weight: bold;
        }
      }
      tr.items {
        td {
          font-family: 'Libre Franklin';
          color: $grey-clr !important;
          font-size: 0.8em !important;
          text-align: left;
        }
      }
    }
  }
}

