<div class="content landing">
  <div class="hero-wrapper">

    <div class="hero-text">Turn your audience into a task force.</div>

    <% if !user_signed_in? %>
      <div id="AthenticationModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <%= react_component 'AthenticationModal', {authenticity_token: form_authenticity_token}%>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
      <a href="#" data-reveal-id="AthenticationModal" class="hero-button sign-up">Get Started</a>
    <%else%>
      <%= link_to "View Projects", projects_path, class: "hero-button projects" %>
    <%end%>

    <br />
    <br />


    <% if @project %>
      <br />
      <div class="big-white-background-lol">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pt-EgCfAZuU" frameborder="0" allowfullscreen></iframe>
      </div>
    <% end %>

  </div>




</div>
