
<div id="notification-<%= notification.id %>" class="invitation notify-card">
  <div class="notify-mark">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
  </div>
  <div class="notify-content">
    <span class="date"><%= "#{notification.created_at.strftime(" %b")} #{notification.created_at.day.ordinalize}"  rescue nil %></span>
    <div class="notify-body">
      <div class="notification-body">
        <span><%= yield %></span>
      </div>

      <div class="action-btns">
        <a href="javascript:void(0)" class="btn-notify">
          <i class="fa fa-check"></i>&nbsp;&nbsp;Approve
        </a>
        <a href="javascript:void(0)" class="delete-notification btn-notify" title="Delete" notification-id="<%= notification.id %>">
          <i class="fa fa-times"></i>&nbsp;&nbsp;Deny
        </a>
      </div>

    </div>
  </div>
</div>
