<%= notification.origin_user.name %> Requested to do this Task.
<h4>Their Cover Letter is: </h4>
<%= notification.source_model.application %><br>
<br>
<% if notification.source_model.pending? %>
    <%= link_to "ACCEPT INVITATION", accept_do_request_path(notification.source_model), class: "button compose-btn accept fa fa-fa fa-check" %></a>
    <%= link_to "DECLINE AND REPLY", reject_do_request_path(notification.source_model), class: "button compose-btn decline fa fa-close" %></a>
<% end %>