<% content_for :title do %>
  Sign In To WeServe
<% end %>

<div class="register-form-wrapper">
  <div class="register-modal mt100">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">Sign In</h3>
          <h4 class="modal-title">Join In WeServe today!</h4>
        </div>

        <div class="modal-body">
          <%= render "modal/social_register" %>

          <div class="or-container">
            <hr class="or-hr">
            <div id="or">or</div>
          </div>

          <div id="">
            <%= react_component 'SignInModal', {authenticity_token: form_authenticity_token}%>

            <div class="signin-intro pt20">
              <p>Don't have an account? <%= link_to 'Sign Up', new_user_registration_path %></p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
